<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<% if (isLoggedIn) { %>
	<div>
		<span>Welcome, <%= user.username %></span>
	</div>
	<% } %>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>
	<% if (user) { %>
	<a href="/players/new">Add a player.</a>
	<% } %>
	<div>
		<table>
			<tr>
				<th>Rank</th>
				<th>Tag</th>
				<th>Name</th>
				<th>Mains</th>
				<% if (isLoggedIn) { %>
				<th>Modify</th>
				<% } %>
			</tr>
			<% for (var i = 0; i < players.length; i++) { %>
			<tr>
				<th><%= players[i].rank %></th>
				<th><%= players[i].formattedTag %></th>
				<th><%= players[i].name %></th>
				<th><%= players[i].formattedMains %></th>
				<% if (isLoggedIn) { %>
				<th>
					<a href="/players/<%= players[i]._id %>">Edit</a> | 
					<form method="POST" action="/players/<%= players[i]._id %>" enctype="application/x-www-form-urlencoded">
						<input type="hidden" name="_method" value="delete">
						<input class="link-input" type="submit" value="Delete">
					</form>
				</th>
				<% } %>
			</tr>
			<% } %>
		</table>
	</div>
	
	<span>Have an account? <a href="../auth/login">Login here.</a> Don't have one? <a href="../auth/register">Register here.</a></span>
</body>

</html>