<div>
    <span>Name: </span>
    <input type="text" name="name" value="<%= player.name %>">
</div>
<div>
    <span>Tag: </span>
    <input type="text" name="tag" value="<%= player.tag %>">
</div>
<div>
    <span>Sponsor: </span>
    <input type="text" name="sponsor" value="<%= player.sponsor %>">
</div>
<div>
    <span>Rank: </span>
    <input type="text" name="rank" value="<%= player.rank %>">
</div>
<div>
    <span>Mains: </span>
    <input type="text" name="unformattedMains" value="<%= player.unformattedMains %>">
</div>